body {
    background-color:rgb(15, 1, 1);
}

a:link {
    color: green;
}

.para {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: skyblue;
}
a:hover {S
    opacity: 0.6;
    font-size: 30px;
    color:salmon;
    }

nav {
    float: right;
    font-size: 30px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(250, 3, 3);
    margin-top: 20px;
    padding: 10px;
    word-spacing: 8px;
    border: white 20px outset;
}

a {
    text-decoration: none;
}

.island {
    border: skyblue 30px outset;
    float:left;
}

.shutter {
    float:right;
}

h1 {
    font-size:95px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-align: center;
}

h2 {
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-align: center;
    margin:right;

}

ol {

    border: skyblue 30px inset;
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: rgb(95, 81, 81);
color: white;
text-align: center;
}


/* h1 {
    border: skyblue 20px outset;
    width: 50%;
    height: 150px;
    padding: 50px 10px;
    margin: 150px 10px;
}

h2 {
    border:teal 20px inset;
    width: 50%;
    height: 150px;
    padding: 50px 10px;
}

p {
    border:pink 20px ridge;
    width: 50%;
    height: 150px;
    padding: 50px 10px;
}


/*selector-it selects all elements in HTML*/



/* h1 h2, .para {

    font-size: 50px;
    color: blue;

}

.name, .para {
    color: purple
    font-size:40px; */

/*changed the heading/*